@tailwind base;
@tailwind components;
@tailwind utilities;


/* define keyframes */
@keyframes soft-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.80;
  }
}

/* create the Tailwind utility */
@layer utilities {
  .animate-soft-pulse {
    animation: soft-pulse 3s ease-in-out infinite;
  }
}

html, body, #root {
  height:100dvh;
  width: 100%;
  
}

body {
  margin: 0;
}


button {
    background-color: white,;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    border-width: 3px;
    border-style: outset;
    width: 45%;
    font-size:18px;
    font-weight:bold;
  }